---
import { SITE } from '~/utils/config';

import socratesLogo from '~/assets/images/socrates-logo-152x152.png';
---

<div
  class="flex items-center px-xl self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white"
>
  <img src={socratesLogo.src} alt="socrates-header-logo" style="width: 40px;" />
  <span class="pl-2">{SITE?.name}</span>
</div>
